html, body {
  margin-top: -80px;           /* enlève les marges par défaut */
  overflow-y: hidden;  /* cache le scroll vertical */


}

body.page-commande {
  display: flex;
  align-items:center ;
  justify-content:center ;


}



.form-title{
  text-align: center;
  color: var( --texte-clair);
  position: relative;
  margin: 0 auto;
  font-size: 100px;
  margin-top: 200px;

}

.commande {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  z-index: 100;
}


 .commande h3{
    font-family: var(--Police-texte);
    color: var(--red-hover);
  
}

.commande label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family:var(--Police-texte);
  color: var(--text-foncé);
}

.commande input, .commande textarea, .commande select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 .little-checkbox{
  position: absolute;
  top: 860px;
  right: 120px;



 }

.commande button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c0392b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


footer{
    position: absolute;
    top: 2500px;
    margin-bottom: 30px;
   
}