
 body{
 background-size: 150% 350%;
 }

 .menu-header{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 120px;
  z-index: 100;
  }

.menu-titre{
   position: absolute;
    font-size: 100px;
    margin-top: 30px;
  }

  .menu-sous-titre{
  position: absolute;
    font-size: 80px;
    margin-top: 200px;
    color:var(--red-hover);
  
  }


  .pizza-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 80px;
  max-width: 600px;
  margin: 0 auto;
  margin-left: 550px;
  margin-top: 300px;
  justify-items: center;
  align-items: center;
  z-index: 100;   
  position: relative;

  }

  .pizza-grid img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;


  }
  button{
    font-family:var(--Police-texte);
    font-size: 16px;
    transition: 0.5s;
  }

  button:hover{
    background-color: var(--orange-hover);
  }

    .drink-title{
    position: absolute;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-left: 1100px;
    z-index: 100;
    color:var(--red-hover);
  }

  .drink-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2, auto;
    max-width: 600px;
    gap: 80px;
    margin: 0 auto;
    margin-left: 550px;
    margin-top: 200px;
    justify-items: center;
    align-items: center;
    z-index: 100;   
    position: relative;
   }

  .item2{
    text-align: center;
  }

  .item2 img{

    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  .item2 p{
    margin-top: 15px;
    font-size: 16px;
    font-family: var(--Police-texte);
    color: var(--texte-clair);
    font-weight: bold;
  }


  .dessert-titre{
    position: absolute;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 1100px;
    z-index: 100;
    color:var(--red-hover);

  }

  .dessert-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2, auto;
    max-width: 600px;
    gap: 80px;
    padding-top: 180px;
    margin: 0 auto;
    margin-left: 550px;
    justify-items: center;
    align-items: center;
    z-index: 100;   
    position: relative;
  }

  .item3{
     text-align: center;
  }


  .item3 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .item3 p{
    margin-top: 15px;
    font-size: 16px;
    font-family: var(--Police-texte);
    color: var(--texte-clair);
    font-weight: bold;
  }


 body.Menu #contact-form{
  position: absolute !important;
  top: 400px !important;
  width: 2700px !important;
  left: -560px;
  margin-top: 130px;
  background-size: cover !important;
  z-index: 500 !important;
  overflow: hidden !important;

  }
  body #contact-form::before{
 
  background-color: rgba(0, 0, 0, 1); /* couche sombre */

  }


  .footer2 {
    width: 100%;
    position: absolute;
    top: 3750px;
  }

