:root {

 --couleur-primaire: #555555;
  --couleur-secondaire: #000000;
  --texte-clair: #f9f9f9;
  --fond-clair: #f9f9f9;
  --text-foncé:#00000075;
  --Police-Titre: 'Veneer';
  --Police-texte:'Montserrat';
  --fond-clair-2:#c4c4c4;
  --red-hover:#ED1A37;
  --border-1:#ccc;
  --orange-hover:#da7f08;
}

 body{
 background-size: 150% 350%;
 }
 
 .menu-header{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 120px;
  z-index: 100;
  }

.menu-titre{
   position: absolute;
    font-size: 100px;
    margin-top: 30px;
  }

  .menu-sous-titre{
  position: absolute;
    font-size: 80px;
    margin-top: 150px;
    color:var(--red-hover);
  
  }


  .pizza-grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, auto);
gap: 80px;
max-width: 600px;
position: relative;
top: 180px;
left:400px;
z-index: 200;
  }

  .pizza-grid img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;


  }
  button{
    font-family:var(--Police-texte);
    font-size: 16px;
    transition: 0.5s;
  }
  button:hover{
    background-color: var(--orange-hover);
  }
    .drink-title{
    position: absolute;
    font-size: 80px;
    top: 950px;
    left: 785px;

    color:var(--red-hover);
  

  }
  .drink-grid{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 2, auto;
max-width: 600px;
gap: 80px;
position: relative;
top: 350px;
left: 225px;

  }

  .item2{
    text-align: center;
  }

  .item2 img{

    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  .item2 p{
    margin-top: 15px;
    font-size: 16px;
    font-family: var(--Police-texte);
    color: var(--texte-clair);
    font-weight: bold;
  }


  .dessert-titre{
     position: absolute;
    font-size: 80px;
    top: 1700px;
    left: 785px;
    color:var(--red-hover);

  }

  .dessert-grid{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 2, auto;
max-width: 600px;
gap: 80px;
position: relative;
top: 500px;
left: 400px;
  }
  .item3{
     text-align: center;
  }


  .item3 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .item3 p{
    margin-top: 15px;
    font-size: 16px;
    font-family: var(--Police-texte);
    color: var(--texte-clair);
    font-weight: bold;
  }


 #contact-form,
 .menu-contact{
  position: absolute;
  top: 335px;
  width: 2700px;
  left: 0;
  background-size: cover;
  z-index: 500;
  overflow: hidden;

  }

  .footer2 {
    width: 100%;
    position: absolute;
    top: 3750px;
  }

