:root {

 --couleur-primaire: #555555;
  --couleur-secondaire: #000000;
  --texte-clair: #f9f9f9;
  --fond-clair: #f9f9f9;
  --text-foncé:#00000075;
  --Police-Titre: 'Veneer';
  --Police-texte:'Montserrat';
  --fond-clair-2:#c4c4c4;
  --red-hover:#ED1A37;
  --border-1:#ccc;
  --orange-hover:#da7f08;
}

html{

  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Veneer';
  src: url('../fonts/Veneer.ttf') format('truetype');
}
@font-face {
font-family: 'Montserrat';
src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

ul, ol {
  list-style: none;
}

body
{
   background-image: url('../images/fond-accueil.jpg');
  background-size: cover;         /* L’image couvre toute la zone */
  background-repeat: no-repeat;   /* Pas de répétition */
  background-position: center;    /* Centrée */
  color: var(--texte-clair);
  background-color: var(--couleur-primaire);

    
}
body::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 300%;
  background-color: rgba(0, 0, 0, 0.6); /* couche sombre */

}

h2 {font-family:'Veneer';}

/* Haut de page */

.navbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
  width: 100%;
  font-family: 'Montserrat';
  z-index: 1000;
}

.logo-pizza {
  width: 120px;
  font-size: 60px;
}

.top-nav .nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav-list a:hover
{
  color:var(--red-hover);
  transition: 500ms;
  
}


.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.red-phone {
  width: 24px;

}


.number-phone{  
display: flex;
font-family: 'Montserrat';
font-weight: bold;


}

.number-phone:hover{
  color: var(--red-hover);
}
.title
{
position: absolute;
top: 100px;
left: 240px;
font-size: 160px;
font-family: var(--Police-Titre);
}
.sous-titre{
font-family: var(--Police-Titre);
font-size:  113px; 
position: absolute;
top: 300px;
left: 240px;
width: 560px;
white-space: normal; 
}
.surligner{
  color: var(--red-hover);
}

.order{
transition: 0.5s;
position: absolute;
top: 850px;
left: 220px;
font-size: 30px;
z-index: 100;
border-radius:25px;
font-family: var(--Police-Titre);

}

.order:hover{
transform: scale(1.1);
background-color: var(--orange-hover);

}
.voir{
transition: 0.5s;
position: absolute;
top: 830px;
left: 600px;
font-size: 30px;
z-index: 100;
font-family: var(--Police-Titre);
cursor: pointer;
}
.voir:hover{
color:var(--red-hover)
}

.arrow::after{


}

#Pizza-Reina{  
    width: 500px;
    height: 480px;
    position: absolute;
    top: 380px;
    right: 260px;
  }

.image {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

.image.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}

.image.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

.image.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

.controls {
  margin-top: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: var(--red-hover);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.bouton{
transition: 0.5s;
border-radius: 50px;
border: 1px var(--border-1);
 cursor: pointer;

}
.bouton:hover{
scale: 1.2;


}
#button1{
  font-size: 24px;
  width: 100px;
  position: absolute;
  top: 860px;
  right: 300px;
}


#button2{
  font-size: 24px;
  width: 100px;
  position: absolute;
  top: 860px;
  right: 600px;
}

#search {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  font-family:'Montserrat';
  border: 1px var(--border-1);
  border-radius: 8px;
  position: absolute;
  left: 215px;
  top: 650px;

  
}

#results {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
#results li {
  padding: 5px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Fin du haut de page */

/* contenu principale*/
main {
  margin-top: 100px; 
}
#content{
  display: flex;
  width: 100%;
}

.section1

{
display: flex;
align-items: center;
position: absolute;
top: 1000px;
left: 0px;
font-size: 60px;
width: 100%;
height: 1400px;
color: var( --texte-clair);
background-image: url('../images/restaurent.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
scroll-margin-top: 80px; /* hauteur du menu fixe */
z-index: 0;

}

.section1::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* couche sombre */

 
}

#service-titre{
font-size: 130px;
width: 700px;
position: absolute;
top: 00px;
left: 215px;
margin-top: 130px;
}

#titre2{
font-size: 35px;
position: absolute;
top: 80px;
left: 215px;


}

#text-ipsum{
  font-size: 20px;
  width: 600px;
  position: absolute;
  top: 610px;
  left: 215px;
  margin-top: 10px;
  font-family: 'Montserrat';
}

.section1 ul{
  font-family:'Montserrat';
  font-size: 20px;
  position: absolute;
  left: 500px;;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  
}

#resto {
width: 500px;
height: 300px;
position: absolute;
top: 430px;
left: 860px;
}

#plats{
width:300px;
height: 300px;
position: absolute;
position: absolute;
top: 600px;
left: 60px;
}

#interieur{
width:700px;
height: 300px;
position: absolute;
position: absolute;
top: 480px;
left: 830px;

}

.section2

{
position: absolute;
margin-top: 90px;
top: 1950px;
left: 0px;
font-size: 60px;
width: 100%;
height: 900px;
color: var(--text-foncé);
background: var(--fond-clair)
}

.adresse{

  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;

}
 #CARTE{
  position: absolute;
  top: 280px;
  left: 650px;
 }

 #contact-form{
  background-image: url('../images/Fond-pate.jpg');
  background-size: cover;
  height: 1300px;
  width: 100%;
  position: absolute;
  top: 2900px;
  left: 0;
  z-index: 500;
  overflow: hidden;
 }

  #contact-form::before{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 1300px;
  background-color: rgba(0, 0, 0, 0.7); /* couche sombre */
  z-index: 0;
  }

  #contact-form > * {
    position: relative;
    z-index: 1;
  }
    .contactez{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;



  }
  .rejoindre{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75px;
    color:var(--red-hover);
  }
  
  .texte-pour-rejoindre
  
  {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55px;
  font-family: var(--Police-texte);
  text-align: center;
    white-space: pre-line;
  }


textarea {
  transform: none;
}


  #contact-form form {
  position: relative;
  top: 80px;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto 200px auto;
  display: flex;
  flex-direction: column;
}

#contact-form label {
  margin-top: 15px;
  font-weight: bold;
  font-family: var(--Police-texte);
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  resize:none;
}

#contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: var(--red-hover);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 500ms;
  font-family: var(--Police-Titre);
  font-size: 20px;
}
#contact-form button:hover{
background-color: var(--orange-hover);
 }

.feedback{
  margin: 200px auto 0 auto; /* top right bottom left */
  background-image: url("../images/fond-accueil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-size:cover ;
  height: 410px;


  
}
.feedback::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 1300px;
  background-color: rgba(255, 255, 255, 0.8); /* couche sombre */
  z-index: 1;

}

*{
  box-sizing: border-box;
}
.form-content{
  max-width: 500px;
  margin: -70px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 200;
  position: relative;
 
}
.form-content label{

  font-weight: bold;
  font-family: var(--Police-texte);
  text-align: center;
  color: var(--couleur-secondaire);
  font-size: 40px;
  font-weight: bold;
}

.feedback input,
.feedback textarea
{
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  resize: none;
}


.feedback button{
  margin:auto;
  padding: 1px;
  background-color: var(--red-hover);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--Police-Titre);
  transition: 500ms;
  width:  100px;

}
 .feedback button:hover{
background-color: var(--orange-hover);
 }

footer {
  display: flex;
  flex-wrap: nowrap ;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-around;
  background-image: url('../images/four-a-pizza.jpg');
  background-size: 100%;
  height: 300px;
  background-color: var(--couleur-secondaire);
  background-repeat: no-repeat;
  padding: 20px;
  gap: 25px;
  position: absolute;
  top: 4200px;
  width: 100%;
  left: 0px;
  list-style: none;
  z-index: 1000;

}
footer::before{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
   background-color: rgba(0, 0, 0, 0.8); /* couche sombre */
  z-index: 0;


}

.horaire{
  text-align: start;
  position: absolute;
  font-size: 15px;


}
.horaire p{

  font-family: 'Montserrat';
   font-weight: bold;
}



.column-menu{
  text-align:center;
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  color: var(--texte-clair);
  text-align: start;
   z-index: 1000;
   font-weight: bold;
}

.column-menu a{
   color: var(--texte-clair);
   text-decoration: none;

}

.column-menu a:hover{
   color: var(--red-hover);
   transition: 500ms;
}

.contact-links{
   font-family: 'Montserrat';
   font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--texte-clair);
  text-align: start;
   z-index: 1000;

  }

.contact-links a {
  color: var(--texte-clair);
  text-decoration: none;
  text-align: center;


}
.contact-links a:hover{
  color:var(--red-hover);
   transition: 500ms;
}
.logo-footer{
 position: absolute;
 top: 300px;
 left:200px;
 height: 100px;
    
}

.copyright{
  display: flex;
 position: absolute;
 top: 300px;
 background-color: var(--couleur-secondaire);
 width: 100%;
 height: 100px;
 text-align: center;
 font-family: 'Montserrat';
font-weight: bold;
align-items: center;
justify-content: center;

}

/* Page des menus */

 .footer2 {
   display: flex;
  flex-wrap: nowrap ;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-around;
  background-image: url('../images/four-a-pizza.jpg');
  background-size: 100%;
  height: 300px;
  background-color: var(--couleur-secondaire);
  background-repeat: no-repeat;
  padding: 20px;
  gap: 25px;
  position: absolute;
  top: 2480px;
  width: 97.5%;
  list-style: none;
  z-index: 1000;

}
#contact-form-menu{

}